<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.co.iconpln.controlflowapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".fragmentTab.TabActivity"></activity>
        <activity android:name=".fragments.DemoFragmentActivity" />
        <activity android:name=".GridHeroActivity" />
        <activity android:name=".hero.ListHeroActivity" />
        <activity android:name=".MoreComplexConstraintActivity" />
        <activity android:name=".ComplexConstraintActivity" />
        <activity android:name=".IntentWithResultActivity" />
        <activity android:name=".IntentWithObjectActivity" />
        <activity android:name=".IntentWithBundleActivity" />
        <activity android:name=".IntentWithDataActivity" />
        <activity android:name=".IntentActivity" />
        <activity android:name=".VolumeActivity" />
        <activity android:name=".DemoActivity" />
        <activity android:name=".StyleActivity" />
        <activity android:name=".Operation" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".ClassificationActivity" />
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>